# <center><font color='blue'>IS362 Assignment 7 Fall 2020</center><font>

![My_Text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZtgSr9JkT6mwn474na4hRPHouehtMwM94lQ&usqp=CAU)

### Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!

#### Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates, imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be at least one movie that not everyone has seen!

####  Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the information into a pandas dataframe. Your solution should include Python and pandas code that accomplishes the following:

##### 1. Load the ratings by user information that you collected into a pandas dataframe.
    
##### 2. Show the average ratings for each user and each movie.\n",
    
##### 3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.
    
##### 4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.
    
##### 5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user. Once again, show the average ratings for each user and each movie.

In [2]:
import pandas as pd
import numpy as np

In [ ]:
##### 1. I will be loading raitngs in a Pandas dataframe:"

In [21]:
ratings = pd.read_csv(r'C:\Users\MATTHEWS-PC\Desktop\IS362-Week-7\Movie.csv', index_col=0)

In [22]:
ratings.head()

,AmericanSniper,IT,The Green Mile,The Shining,Inception,The Prestige
Sheniqua,4.0,5.0,3,NaN,NaN,5.0
Lloyd,5.0,NaN,4,5.0,NaN,NaN
Paulette,NaN,NaN,3,NaN,5.0,3.0
Anthony,NaN,NaN,5,NaN,5.0,NaN
Camella,3.0,4.0,4,4.0,4.0,4.0

##### 2. Show the average ratings for each user and each movie.

In [26]:
average_user_ratings = ratings.mean(axis=1)
average_user_ratings

Sheniqua    4.250000
Lloyd       4.666667
Paulette    3.666667
Anthony     5.000000
Camella     3.833333
dtype: float64

In [27]:
average_user_ratings = ratings.mean
average_user_ratings

<bound method DataFrame.mean of           AmericanSniper   IT  The Green Mile  The Shining  Inception  \
Sheniqua             4.0  5.0               3          NaN        NaN
Lloyd                5.0  NaN               4          5.0        NaN
Paulette             NaN  NaN               3          NaN        5.0
Anthony              NaN  NaN               5          NaN        5.0
Camella              3.0  4.0               4          4.0        4.0

          The Prestige
Sheniqua           5.0
Lloyd              NaN
Paulette           3.0
Anthony            NaN
Camella            4.0  >

##### 3. Create a new pandas dataframe with normalized again show the average ratings for each user.

In [30]:
normal_ratings = (ratings - ratings.min()) / (ratings.max() - ratings.min())
normal_ratings

,AmericanSniper,IT,The Green Mile,The Shining,Inception,The Prestige
Sheniqua,0.5,1.0,0.0,NaN,NaN,1.0
Lloyd,1.0,NaN,0.5,1.0,NaN,NaN
Paulette,NaN,NaN,0.0,NaN,1.0,0.0
Anthony,NaN,NaN,1.0,NaN,1.0,NaN
Camella,0.0,0.0,0.5,0.0,0.0,0.5

##### 3b. This shows the average ratings for each move.

In [32]:
average_normal_movie_ratings = normal_ratings.mean()
average_normal_movie_ratings

AmericanSniper    0.500000
IT                0.500000
The Green Mile    0.400000
The Shining       0.500000
Inception         0.666667
The Prestige      0.500000
dtype: float64

#### Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

#### Based on my analysis of the normalized ratings provide different conclusions based on what date sets are used.Taking in account that data nomalization is basically a type of process that properly utilizes databses to further queries and analysis. Whereas the disadvantage of normalized ratings is that they might interpret a scale from 0 to 1 which can be hard to comprehend.